<configuration>
	<packageSources>
		<!-- Add your package source here if necessary -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageReference>
		<ignorePackageTargetFramework>True</ignorePackageTargetFramework>
	</packageReference>
</configuration>
